fastapi>=0.120.0
uvicorn>=0.24.0
sqlalchemy>=2.0.20
mysql-connector-python>=8.1.0
requests>=2.32.0
beautifulsoup4>=4.12.2
apscheduler>=3.10.5
python-dotenv>=1.0.0
psycopg2-binary
sqlmodel
textblob
langdetect
pytrends